<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebTimViec</display-name>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>view/index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FAQsServlet</display-name>
    <servlet-name>FAQsServlet</servlet-name>
    <servlet-class>controller.FAQsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQsServlet</servlet-name>
    <url-pattern>/FAQsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>controller.ChangePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeAddServlet</display-name>
    <servlet-name>ResumeAddServlet</servlet-name>
    <servlet-class>controller.ResumeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeAddServlet</servlet-name>
    <url-pattern>/ResumeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeManageServlet</display-name>
    <servlet-name>ResumeManageServlet</servlet-name>
    <servlet-class>controller.ResumeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeManageServlet</servlet-name>
    <url-pattern>/ResumeManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeDeleteServlet</display-name>
    <servlet-name>ResumeDeleteServlet</servlet-name>
    <servlet-class>controller.ResumeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeDeleteServlet</servlet-name>
    <url-pattern>/ResumeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardUpdateCVServlet</display-name>
    <servlet-name>ForwardUpdateCVServlet</servlet-name>
    <servlet-class>controller.ForwardUpdateCVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardUpdateCVServlet</servlet-name>
    <url-pattern>/ForwardUpdateCVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeDetailServlet</display-name>
    <servlet-name>ResumeDetailServlet</servlet-name>
    <servlet-class>controller.ResumeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeDetailServlet</servlet-name>
    <url-pattern>/ResumeDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyAddServlet</display-name>
    <servlet-name>CompanyAddServlet</servlet-name>
    <servlet-class>controller.CompanyAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyAddServlet</servlet-name>
    <url-pattern>/CompanyAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyManageServlet</display-name>
    <servlet-name>CompanyManageServlet</servlet-name>
    <servlet-class>controller.CompanyManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyManageServlet</servlet-name>
    <url-pattern>/CompanyManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDeleteServlet</display-name>
    <servlet-name>CompanyDeleteServlet</servlet-name>
    <servlet-class>controller.CompanyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDeleteServlet</servlet-name>
    <url-pattern>/CompanyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyUpdateServlet</display-name>
    <servlet-name>CompanyUpdateServlet</servlet-name>
    <servlet-class>controller.CompanyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyUpdateServlet</servlet-name>
    <url-pattern>/CompanyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDetailServlet</display-name>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <servlet-class>controller.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <url-pattern>/CompanyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardJobAddSevlet</display-name>
    <servlet-name>ForwardJobAddSevlet</servlet-name>
    <servlet-class>controller.ForwardJobAddSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardJobAddSevlet</servlet-name>
    <url-pattern>/ForwardJobAddSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobAddServlet</display-name>
    <servlet-name>JobAddServlet</servlet-name>
    <servlet-class>controller.JobAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobAddServlet</servlet-name>
    <url-pattern>/JobAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobManageServlet</display-name>
    <servlet-name>JobManageServlet</servlet-name>
    <servlet-class>controller.JobManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobManageServlet</servlet-name>
    <url-pattern>/JobManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobDeleteServlet</display-name>
    <servlet-name>JobDeleteServlet</servlet-name>
    <servlet-class>controller.JobDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDeleteServlet</servlet-name>
    <url-pattern>/JobDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobUpdateServlet</display-name>
    <servlet-name>JobUpdateServlet</servlet-name>
    <servlet-class>controller.JobUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobUpdateServlet</servlet-name>
    <url-pattern>/JobUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobDetailServlet</display-name>
    <servlet-name>JobDetailServlet</servlet-name>
    <servlet-class>controller.JobDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDetailServlet</servlet-name>
    <url-pattern>/JobDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobApplyServlet</display-name>
    <servlet-name>JobApplyServlet</servlet-name>
    <servlet-class>controller.JobApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobApplyServlet</servlet-name>
    <url-pattern>/JobApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendResumeServlet</display-name>
    <servlet-name>SendResumeServlet</servlet-name>
    <servlet-class>controller.SendResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResumeServlet</servlet-name>
    <url-pattern>/SendResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListJobApplyServlet</display-name>
    <servlet-name>ListJobApplyServlet</servlet-name>
    <servlet-class>controller.ListJobApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListJobApplyServlet</servlet-name>
    <url-pattern>/ListJobApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchJobApplyServlet</display-name>
    <servlet-name>SearchJobApplyServlet</servlet-name>
    <servlet-class>controller.SearchJobApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobApplyServlet</servlet-name>
    <url-pattern>/SearchJobApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllJobServlet</display-name>
    <servlet-name>ListAllJobServlet</servlet-name>
    <servlet-class>controller.ListAllJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllJobServlet</servlet-name>
    <url-pattern>/ListAllJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobAppliedServlet</display-name>
    <servlet-name>JobAppliedServlet</servlet-name>
    <servlet-class>controller.JobAppliedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobAppliedServlet</servlet-name>
    <url-pattern>/JobAppliedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobApplyDeleteServlet</display-name>
    <servlet-name>JobApplyDeleteServlet</servlet-name>
    <servlet-class>controller.JobApplyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobApplyDeleteServlet</servlet-name>
    <url-pattern>/JobApplyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobInspectServlet</display-name>
    <servlet-name>JobInspectServlet</servlet-name>
    <servlet-class>controller.JobInspectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobInspectServlet</servlet-name>
    <url-pattern>/JobInspectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountManageServlet</display-name>
    <servlet-name>AccountManageServlet</servlet-name>
    <servlet-class>controller.AccountManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManageServlet</servlet-name>
    <url-pattern>/AccountManageServlet</url-pattern>
  </servlet-mapping>
</web-app>